.colleditPageDiv {
}

.colleditPageSvg {
    opacity: 1;
}

.clickableBackground {
    fill: #F9F9FB;
    stroke: black;
    stroke-width: 1;
}

.addElementHelpNotice {
    color: grey;
    font-style: italic;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pageElement {

}

.pageElement:hover {
    cursor: pointer;
}

.pageElement.svgText {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Add PageElement Dialog*/

.addControlsDialog {
    position: absolute;
    z-index: 1500;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding: 5px 3px;
}

.elementTypeToAdd {
    border: 1px solid black;
    padding: 2px;
    margin-right: 3px;
}

.elementTypeToAdd:hover {
    cursor: pointer;
}

.addControls {
}

.deleteControls {
}

/* Update PageElement Dialog*/

.modifyControlsDialog {
    position: absolute;
    z-index: 1000;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding: 3px;
}

.updateControls {
}

.generalUpdateControls {

}

.textualUpdateControls {

}

.changeColorPageElement {
    background: linear-gradient(to bottom right, red, lightgreen);
}

.changeFontStylePageElement {
    font-style: italic;
    font-family: Times New Roman, serif;
}

.changeFontWeightPageElement {
    font-weight: bold;
}

.changeTextDecorationPageElement {
    text-decoration: underline;
}

.deletePageElement {
    font-weight: bold;
}