.colleditPageDiv {
    float: left;
}

.colleditPageSvg {
    opacity: 1;
}

.clickableBackground {
    fill: #F9F9FB;
    stroke: black;
    stroke-width: 1;
}

.pageElement {

}

.elementTypeToAdd {
    border: 1px solid black;
    padding: 2px;
    margin-right: 3px;
}

.elementTypeToAdd:hover {
    cursor: pointer;
}

.elementTypeToAddSelected {
    color: red;
}

.controls {
    float: left;
    margin-left: 5px;
    text-align: center;
}

.addControls {
}

.modifyControls {
}

.updateControls {
}

.generalUpdateControls {

}

.deleteControls {
}

.modifyControlsDialog {
    position: absolute;
    z-index: 1000;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding: 3px;
}

.changeColorPageElement {
    background: linear-gradient(to bottom right, red, lightgreen);
}

.changeFontStylePageElement {
    font-style: italic;
    font-family: Times New Roman, serif;
}

.changeFontWeightPageElement {
    font-weight: bold;
}

.changeTextDecorationPageElement {
    text-decoration: underline;
}

.deletePageElement {
    font-weight: bold;
}